.read_table {
    position: fixed;
    top: 0;
    left: -70vw;
    font-size: .3rem;
    // overflow: auto;
    .content {
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        div {
            height: 100/16vh;
            line-height: 30px;
            box-sizing: border-box;
        }
    }
}
.read_content {
    background-color: antiquewhite;
}

.readSet {

}